<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5599318030-fdaqkikn2s6krbq2o968fg0ric0v3jpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5599318030-fdaqkikn2s6krbq2o968fg0ric0v3jpo</string>
	<key>API_KEY</key>
	<string>AIzaSyCmLYEw3W_CvWBDDI-XkoaFUHLHbUNrZV4</string>
	<key>GCM_SENDER_ID</key>
	<string>5599318030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frameworkECommerce</string>
	<key>PROJECT_ID</key>
	<string>framewor-e-commerce</string>
	<key>STORAGE_BUCKET</key>
	<string>framewor-e-commerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5599318030:ios:32fd23c3098f12e8046c5f</string>
</dict>
</plist>